{{#each this}}
    <li class="country-list__item">
        <img src="{{flags.svg}}" class="country-list__flag" alt="{{name.common}}">
        <p class="country-list__name">{{name.common}}</p>
    </li>
{{/each}}